{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>JIRA Chatbot</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
  </head>
  <body>
	
	<nav class="navbar navbar-dark bg-inverse navbar-full">
	  <a class="navbar-brand" href="{% url 'main' %}">
		<img src="{% static 'img/jc.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Jira ChatBot">
		Jira Chatbot
	  </a>
	  <ul class="nav navbar-nav float-xs-right">
		<li class="nav-item">
		  <a class="nav-link" href="{% url 'runJiraUtil' %}">Run Jira Util</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="{% url 'trainBot' %}">Train your Bot</a>
		</li>
	  </ul>
	</nav>
	
    <div class="container">
	{% if request.GET.success == "util" or request.GET.success == "train" %}
		<div class="alert alert-success  alert-dismissible" style="margin-top: 5px;">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{% if request.GET.success == "util" %}
			Jira Utli ran Successful! Please try searching again for all unanswered queries.
			{% elif request.GET.success == "train" %}
			Chatbot training completed! Please try searching again for all unanswered queries.
			{% endif %}
		</div>
	 {% endif %}
	 
      <div class="jumbotron mt-1">
        <h1 class="jumbotron-heading text-xs-center">JIRA Chatbot</h1>
        <p class="lead text-xs-center">
          Chat with JIRA Chatbot to get solutions.
        </p>

        <hr class="my-2">

        <div class="row">
          <div class="col-xs-6 offset-xs-3">
            <ul class="list-group chat-log js-chat-log">
            </ul>
		  
		<div id="btnArea" style="padding:5px;"></div>
		  
            <div class="input-group input-group-lg mt-1">
              <input type="text" class="form-control js-text" placeholder="Type something to begin..."/>
              <span class="input-group-btn">
                <button class="btn btn-primary js-say">Submit</button>
              </span>
            </div>
            
          </div>
        </div>

      </div>

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
      var chatterbotUrl = '{% url "chatterbot:chatterbot" %}';
      var csrftoken = Cookies.get('csrftoken');
	  
	  var new_text_to_save = false;

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      var $chatlog = $('.js-chat-log');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');

      function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');

        $row.text(text);
        $chatlog.append($row);
      }
	  
	  // dynamically create buttons
	  function createButton(btnArray) {
		var buttons="";
		for ( var i=0; i<btnArray.length; i++ ) {
			buttons += '<input type="button" style="margin-right: 5px;" id="button_'+btnArray[i]+'" class="botBtns btn btn-primary" value="'+btnArray[i]+'"></input>';
		}
		$("#btnArea").html( buttons );
		var doButtonPress = function( btnTxt ) {
			// Change the text value
			$input.val(btnTxt);
			// Submit text
			submitInput();
			// set focus back to text box
			$input.focus();
		}

		$('.botBtns').click(function () {
			 doButtonPress(this.id.replace('button_', ''));
		});
	  
	  }
	  

      function submitInput() {
        var inputData = {
          'text': $input.val()
        }

        // Display the user's input on the web page
        createRow(inputData.text);

        var $submit = $.ajax({
          type: 'POST',
          url: chatterbotUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });
		
		if(new_text_to_save){
			$submit = $.ajax({
			  type: 'POST',
			  url: '/jira/',
			  data: JSON.stringify(inputData),
			  contentType: 'application/json'
			});
		}

        $submit.done(function(statement) {
			if(statement.text.includes('Please mention keywords')){
				new_text_to_save = true;
			}else{
				new_text_to_save = false;
			}
			//new code for buttons
			if(statement.text.match(/\[(.*?)\]/) != null && statement.text.match(/\[(.*?)\]/)[1].split('/').length>0){
				console.log('need to form button');
				var btnArray = statement.text.match(/\[(.*?)\]/)[1].split('/');
				createButton(btnArray);
				statement.text = statement.text.replace(/[\[\]']+/g,'');
			}else {
				$("#btnArea").html( '' );
			}
			
            createRow(statement.text);

            // Clear the input field
            $input.val('');

            // Scroll to the bottom of the chat interface
            $chatlog[0].scrollTop = $chatlog[0].scrollHeight;
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
          submitInput();
        }
      });
    </script>
  </body>
</html>
